*{
  font-family: Calibri, Arial, Helvetica, "Comic sans", sans-serif;
  background-color: #AAAAAA00;
}
#lorem{
  font-style: italic;
  font-size: 150%;
  font-variant: small-caps;
}
h1{
  font-family: "Times new Roman";
  font-size: 800%;
  font-style: oblique;
  background-color: red;
}
body{
    background-image: url(https://superawesomevectors.com/wp-content/uploads/2017/10/ralph-wiggum-simpsons-free-vector-800x566.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: justify;
    line-height: 125%;
    word-spacing: 125%;
}
.dreta{
  text-align: right;
}
.esquerra{
  text-align: left;
}
.centre{
  text-align: center;
}
