div{
  background-color: pink;
  width: 250px;
  height: 250px;
  border-style: inset;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  padding-top: 100px;
}

.border-radius{
  border-top-left-radius: 20px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 60px;
}

.linear-gradient{
  background-image: linear-gradient(white, black);
}

.radial-gradient{
  background-image: radial-gradient(pink, purple);
}
.radial-gradient-rep{
  background-image: repeating-radial-gradient(black, green 15%);
  transform: translate(0px, 35px);
}

.transition{
  transition-property: color, background-color, width;
  transition-duration: .3s;
  transition-timing-function: linear;
  transition-delay: .3s;
  transform: translate(0px, 35px);
}
.transition:hover{
  color: white;
  width: 700px;
  background-color: black;
  border-radius: 40px;
}
.transition:active{
  font-size: 400%;
  background-color: blue;
}

.translate{
  transform: translate(70px, 20px) rotate(45deg) scale(2, 1);
}
