div{
  height: 100px;
  width: 100px;
  border: solid 5px;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

#d2{
  position: relative;
  left: 100px;
  top: 100px;
}
#d3{
  position: fixed;
  top: 100px;
  left: 150px;
}

#d4{
  position: absolute;
  left: 300px;
  top: 150px;
}
