header, nav {
height: auto;
background-color: blue;
border-style: solid;
border-color: black;
padding: 10px;
margin-top: 10px;
}

header:hover{
  background-color: black;
  color: white;
}

img{
  width: 300px;
  float: left;
}

h1{
  text-align: center;
  font-style: italic;
  font-family: fantasy;
  color: white;
  font-size: 80px;
}
nav{
  background-color: white;
  color: black;
  text-align: center;
  text-decoration-line:underline;
  text-decoration-color: blue;
}
a:hover{
  font-size: 25px;
}

.Selected{
  text-emphasis-style: open;
}

a{
  background-color: white;
  display:inline;
  width: 100px;
  height: 100px;
  font-style: normal;
  font-family: sans-serif;
}

ol{
  font-style: normal;
  font-family: cursive;
  list-style-type: square;
}
