body{
  background-color: black;
  color: white;
}

header{
  font-size: 200%;
  display: inline-block;
  transform: translate(320px);
  color: #486B02;
  font-style: italic;
  font-family: sans-serif;
  background-color: #26480A;
  border: solid 10px;
  border-color: #486B02;
  text-transform: uppercase;
}
header img{
  transform:translate( 10px, 30px);
  margin-left: 10px;
  margin-right: 30px;
}

#MineLogo{
  transform: translateX(100%);
}

h2{
  font-style: italic;
  padding-top: 50px;
  display: block;
  background-color: #26480A;
  font-size: 300%;
  color: #486B02;
  width: auto;
  border: solid 5px;
  border-color: #486B02;
  margin-left: 10px;
  margin-right: 30px;
  text-align: center;
  padding-bottom: 50px;
}
#IntroBarra{
	box-sizing: border-box;
	border: solid 1px;
	color: #06425C;
	background-color: #486B02;
  border-color: #26480A;
	display: block;
	width: 90%;
	min-width: 125px;
	margin-right: 15px;
	height: 200px;
	overflow: auto;
}

.selector:hover{
  font-size: 20px;
}

ol{
  margin-left: 10px;
  border:solid 5px;
  border-color: #486B02;
  display: block;
  padding-top: 30px;
  background-color: #486B02;
  padding-bottom: 30px;
}

ol a{
	line-height: 45px;
	height: 45px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #486B02;
	padding-left: 60px;
	margin: 10px 0 10px 5px;
}
section{
	display: inline-block;
	width: 70%;
	height: 100vh;
	overflow: auto;
}

section{
  display: inline;
}

.imagenEnemigo:hover{
  width: 20%;
  height: 20%;
}
