h1{
  font-size: 150px;
  color: red;
}

p{
  column-gap: 30px;
  text-align: justify;
  width: 20%;
  background-color: pink;
  padding: 30px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: inline-block;
  border-color: black;
  border-style: inset;
  background-image: repeating-radial-gradient(red, yellow 5%, green 15%);
}

/*transiciones */

div{
  height: 300px;
  width: 300px;
  background-color: lime;
  border-style: inset;
  border-width: 5px;
  transition-property: color, width, background-color, border-radius;
  transition-duration: .3s;
  transition-timing-function:linear;
  transition-delay: .3s;
  text-align: center;
  padding-top: 60px;
}
/*CURSOR*/
div:hover{
  color: red;
  width: 700px;
  background-color:yellow;
  border-radius: 80px;
}
/*CLICK*/
div:active{
  background-color: blue;
  font-size: 400%;
}

/* transformacions */
div{
  height: 300px;
  width: 300px;
  background-color: lime;
  border-style: inset;
  border-width: 5px;
  transition-property: color, width, background-color, border-radius;
  transition-duration: .3s;
  transition-timing-function:linear;
  transition-delay: .3s;
  text-align: center;
  padding-top: 60px;
  /*MOVER transform: translate(700px, 20px);*/
  /*ROTAR transform: rotate(45deg);*/
  /*ESCALAR transform: scale(1, 1);*/
  /*DIVERSAS JUNTAS*/ transform: translate(700px, 20px) rotate(45deg);
