*{
  color: red;
  background-color: black;
}

h1{
  font-size: 800%;
  font-style: italic;
  font-variant: small-caps;
  font-family: "Times new Roman";
  color: black;
  background-color: red;
  text-align: center;
}

p{
font-family: monospace;
}

.a1{
  display: inline;
}
.a2{
  display: block;
}
.a3{
  display: inline-block;
}

#id1{
  font-size: 750%;
  text-align: center;
}
#id2{
  font-size: 700%;
    color: orange;
    text-align: justify;
}
#id3{
  font-size: 600%;
  color: #f0ff00;
  text-align: right;
}
.a4{
  font-size: 500%;
  color: #f0cc00;
}
.a5{
  font-size: 70px;
  color: #f0aa00;
}
a{
 display: block;
 width: 25px;
 height: 15px;
 background-color: white;
color: black;
}
